html,
body {
    height: 100%;
}

#login{
    max-width: 1140px;
    margin: auto;
    background-color: #FFFEF8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#login header{
    display: flex;
	justify-content: space-between;
	margin: 50px 0
}

#login main, 
#login footer{
    margin: 0;
}

#login h2{
    margin-bottom: 37px;
}

.login-acces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-acces form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
}

.e-mail,
.mdp {
    display: flex;
    flex-direction: column;
}

.login-acces form input[type="text"],
.login-acces form input[type="password"]
{
    height: 51px;
    width: 379px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
}

.login-acces form label{
    font-size: 16px;
}


.login-acces form input[type="submit"]{
	height: 36px;
    border: none;
    margin: 0;
}

.login-acces a{
    margin-top: 28px;
    text-decoration: underline;
}

#login footer{
    height: 60px;
}

#error-message {
    color: red;
}